<a href="https://colab.research.google.com/github/NNathaa/Assigment/blob/main/Assignment_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##**1. Identifikasi Data**

In [ ]:
import pandas as pd
excel_file_path = '/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx'
df = pd.read_excel(excel_file_path)
print(df)
tipe_data = df.dtypes
jumlah_baris, jumlah_kolom = df.shape
informasi_umum = df.info()

   No Peserta                                       Nama              Jurusan  \
0      DS5G09                             Muhamad Fauzi            Manajemen
1      DS5G16                        Silvia Anisah Lubis  Administrasi Bisnis
2      DS5G08                          Bita Azizy Hamida           Statistika
3      DS5G02                     Rih Prajna Nurfatikha     Sistem Informasi
4      DS5G01                                Fayza Aulia          Informatika
5      DS5G05                             Nada Salsabila           Sains Data
6      DS5G23                    Amos Hatoguan Sihombing           Matematika
7      DS5G20                      Anjar Ayuning Lestari   Teknik Informatika
8      DS5G13                          Rizka Rahmikasari           Matematika
9      DS5G07                    Rachmat Faisal Manurung   Teknik Informatika
10     DS5G14                                 Aji Saeful          Informatika
11     DS5G12  Tarida Grace Wahyuni Margaretha Sidabutar          Informatika
12     DS5G04                           Fitria Rahmadani          Informatika
13     DS5G11                    Muhammad Ilham Pradipta   Teknik Informatika
14     DS5G21            Nurul Jumnatha Fajar Nofitasari            Manajemen
15     DS5G17                      Daffa Rayhan Fadhilla          Informatika
16     DS5G19                        Maqhfirotul Khusna           Matematika
17     DS5G22                     Oktaviani Esty Susanti           Statistika
18     DS5G03                    Maylinna Rahayu Ningsih   Teknik Informatika
19     DS5G18                            Rafifah Rabbani         Ilmu Ekonomi
20     DS5G06                               Faiz Fathoni          Informatika
21     DS5G15                     Muhammad Cahyo Nugroho          Informatika

    Berat Badan (Kg)  Tinggi Badan (Cm)
0                 88                178
1                 42                150
2                 55                158
3                 60                154
4                 60                153
5                 45                150
6                100                178
7                 36                150
8                 45                155
9                 50                173
10                62                173
11                50                156
12                48                153
13                56                169
14                49                156
15                80                175
16                50                149
17                43                157
18                70                161
19                44                151
20                67                163
21                60                173
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No Peserta         22 non-null     object
 1   Nama               22 non-null     object
 2   Jurusan            22 non-null     object
 3   Berat Badan (Kg)   22 non-null     int64
 4   Tinggi Badan (Cm)  22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

1.Tipe data pada dataset terdiri atas object (3) dan int64 (2) |
2.Total Kolom ada 5 dan 22 baris

## **2. Hitunglah BMI setiap siswa**

In [ ]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
# Menghitung BMI dengan batasan dua angka di belakang koma
df['BMI'] = (df['Berat Badan (Kg)'] / (df['Tinggi Badan (Cm)'] / 100) ** 2).round(2)
# Menampilkan kolom BMI
df[['Nama', 'BMI']]

                                         Nama    BMI
0                              Muhamad Fauzi   27.77
1                         Silvia Anisah Lubis  18.67
2                           Bita Azizy Hamida  22.03
3                      Rih Prajna Nurfatikha   25.30
4                                 Fayza Aulia  25.63
5                              Nada Salsabila  20.00
6                     Amos Hatoguan Sihombing  31.56
7                       Anjar Ayuning Lestari  16.00
8                           Rizka Rahmikasari  18.73
9                     Rachmat Faisal Manurung  16.71
10                                 Aji Saeful  20.72
11  Tarida Grace Wahyuni Margaretha Sidabutar  20.55
12                           Fitria Rahmadani  20.50
13                    Muhammad Ilham Pradipta  19.61
14            Nurul Jumnatha Fajar Nofitasari  20.13
15                      Daffa Rayhan Fadhilla  26.12
16                        Maqhfirotul Khusna   22.52
17                     Oktaviani Esty Susanti  17.44
18                    Maylinna Rahayu Ningsih  27.01
19                            Rafifah Rabbani  19.30
20                               Faiz Fathoni  25.22
21                     Muhammad Cahyo Nugroho  20.05

## **3. Buatlah Program Untuk Menghitung BMI**

In [ ]:
# Input berat badan (kg) dan tinggi badan (m)
berat_badan = float(input("Masukkan berat badan (kg): "))
tinggi_badan = float(input("Masukkan tinggi badan (cm): "))

bmi = berat_badan / ((tinggi_badan / 100) ** 2)

print("BMI Anda adalah:", bmi)

if bmi < 18.5:
    kategori = "Underweight (Kurus)"
elif 18.5 <= bmi < 24.9:
    kategori = "Normal (Sehat)"
elif 25.0 <= bmi < 29.9:
    kategori = "Overweight (Gemuk)"
else:
    kategori = "Obesity (Obesitas)"

print("Kategori BMI Anda adalah:", kategori)

KeyboardInterrupt: ignored

## **4. Update dataframe df dengan menambahkan hasil perhitungan soal nomor 2, beri nama kolom BMI**

In [ ]:
# Menambahkan kolom BMI ke DataFrame dengan nama "BMI"
df = df.assign(BMI=(df['Berat Badan (Kg)'] / (df['Tinggi Badan (Cm)'] / 100) ** 2).round(2))
print(df[['No Peserta', 'Nama', 'Jurusan', 'Berat Badan (Kg)', 'Tinggi Badan (Cm)', 'BMI']])

df.to_excel('/content/drive/MyDrive/Colab Notebooks/BMI.xlsx', index=False)

## **5. Buatlah status BMI untuk setiap siswa dari kategori berikut**

In [ ]:
import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
df['BMI'] = (df['Berat Badan (Kg)'] / (df['Tinggi Badan (Cm)'] / 100)** 2).round(2)
df['Status BMI'] = pd.cut(df['BMI'], bins=[0, 18.4, 24.9, 29.9, 100], labels=['Underweight', 'Normal', 'Overweight', 'Obesity'])

df.to_excel('/content/drive/MyDrive/Colab Notebooks/Hasil Status BMI.xlsx', index=False)

## **Soal No. 6**

In [ ]:
# a. Buatlah variabel baru lalu urutkan data berdasarkan tinggi badan dari yang tertinggi ke rendah.

import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
# Mengurutkan data berdasarkan tinggi badan dari tertinggi ke terendah
df = df.sort_values(by='Tinggi Badan (Cm)', ascending=False)

df.to_excel('/content/drive/MyDrive/Colab Notebooks/Hasil Urutan Data Tertinggi.xlsx', index=False)

In [ ]:
# b. Buatlah variabel baru lalu urutkan data berdasarkan nama dari Z-A

import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
df['Nama_Siswa'] = df['Nama'].str[::-1]
df = df.sort_values(by='Nama', ascending=False)
df.drop(columns=['Nama_Siswa'], inplace=True)

df.to_excel('/content/drive/MyDrive/Colab Notebooks/Hasil Urutan Nama.xlsx', index=False)

## **Soal No. 7**

In [ ]:
# a. Status BMI di luar

import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Hasil Status BMI.xlsx')
filtered_df = df[df['Status BMI'] != 'Normal']

filtered_df.to_excel('/content/drive/MyDrive/Colab Notebooks/Status BMI di luar Normal.xlsx', index=False)

In [ ]:
# Tinggi Badan > 169 cm dan Berat Badan > 60 kg

import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
filtered_df = df[(df['Tinggi Badan(Cm)'] > 169) & (df['Berat Badan (Kg)'] > 60)]

filtered_df.to_excel('/content/drive/MyDrive/Colab Notebooks/Hasil Kondisi BB dan TB.xlsx', index=False)

## **Soal No. 8**

In [ ]:
import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
df.insert(0, 'No.', range(1, len(df) + 1))

df.to_excel('/content/drive/MyDrive/Colab Notebooks/Data Terbaru.xlsx', index=False)

## **Soal No. 9**

In [ ]:
# Mengelompokan sesuai dengan tinggi badan dan berat badan

import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
grouped_data = df.groupby(['Tinggi Badan (Cm)', 'Berat Badan (Kg)'])
count_per_group = grouped_data.size().reset_index(name='Jumlah Siswa')
print(count_per_group)

    Tinggi Badan (Cm)  Berat Badan (Kg)  Jumlah Siswa
0                 149                50             1
1                 150                36             1
2                 150                42             1
3                 150                45             1
4                 151                44             1
5                 153                48             1
6                 153                60             1
7                 154                60             1
8                 155                45             1
9                 156                49             1
10                156                50             1
11                157                43             1
12                158                55             1
13                161                70             1
14                163                67             1
15                169                56             1
16                173                50             1
17                173                60             1
18                173                62             1
19                175                80             1
20                178                88             1
21                178               100             1

In [ ]:
# Mencari nilai tertinggi dan terendah

import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
tinggi_terendah = df['Tinggi Badan (Cm)'].min()
tinggi_tertinggi = df['Tinggi Badan (Cm)'].max()
print("Nilai terendah tinggi badan:", tinggi_terendah)
print("Nilai tertinggi tinggi badan:", tinggi_tertinggi)

Nilai terendah tinggi badan: 149
Nilai tertinggi tinggi badan: 178

In [ ]:
# rata rata tinggi badan siswa

import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
rata_rata_tinggi = df['Tinggi Badan (Cm)'].mean().round(2)
print("Rata-rata tinggi badan siswa:", rata_rata_tinggi)

Rata-rata tinggi badan siswa: 160.68

In [ ]:
# rata rata berat badan siswa

import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
rata_rata_berat = df['Berat Badan (Kg)'].mean().round(2)
print("Rata-rata berat badan siswa:", rata_rata_berat)

Rata-rata berat badan siswa: 57.27

In [ ]:
# menghitung jumlah siswa

jumlah_siswa = df.shape[0]
print("Jumlah siswa:", jumlah_siswa)

Jumlah siswa: 22

In [ ]:
# 5 orang dengan nilai BMI tertinggi

import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data Assignment Kompi G.xlsx')
df['BMI'] = (df['Berat Badan (Kg)'] / (df['Tinggi Badan (Cm)'] / 100) ** 2).round(1)
df = df.sort_values(by='BMI', ascending=False)
top_5_bmi = df.head(5)
print(top_5_bmi)

   No Peserta                     Nama             Jurusan  Berat Badan (Kg)  \
6      DS5G23  Amos Hatoguan Sihombing          Matematika               100
0      DS5G09           Muhamad Fauzi           Manajemen                 88
18     DS5G03  Maylinna Rahayu Ningsih  Teknik Informatika                70
15     DS5G17    Daffa Rayhan Fadhilla         Informatika                80
4      DS5G01              Fayza Aulia         Informatika                60

    Tinggi Badan (Cm)   BMI
6                 178  31.6
0                 178  27.8
18                161  27.0
15                175  26.1
4                 153  25.6

In [ ]:
# Ada berapa orang yang tergolong status Underweight, Normal, Overweight, dan Obesity?

import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Hasil Status BMI.xlsx')
status_bmi_count = df['Status BMI'].value_counts()
print(status_bmi_count)

Normal         12
Overweight      6
Underweight     3
Obesity         1
Name: Status BMI, dtype: int64